body {
    display: none;
    background-color: #2c0045;
    transition: 0.7s;
    font-family: "Inconsolata", ui-monospace;
    margin: 5px;
}
  
button {
    font-family: "Inconsolata", ui-monospace;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    transition: 0.25s;
}

button:hover {
    box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.18); /* used to lighten elements on hover */
}

.superior-gd {
    border-radius: 50%;
    filter: brightness(130%);
    font-family: 'Impact', 'Arial Narrow Bold', sans-serif;
    letter-spacing: 6px;
    transition: 0.5s;
    text-shadow: -2px 2px #2d0007,
               -4px 4px #3b0024,
               -6px 6px #130033,
               -8px 8px #00172a,
               -10px 10px #00282f,
               -12px 12px #042f00,
               -14px 14px #2f2e00,
               -16px 16px #2f1300,
               -18px 18px #2f0000;
}

.superior-gd body {
    background-image: repeating-linear-gradient(45deg, #14ffe9a0 0%, #ffc800a0 16.67%, #ff00e0a0 33.33%, #14ffe9a0 50%);
}

.special-text {
    animation: special-color-change 2s infinite;
}

.shiny-text {
    animation: shiny-color-change 2s infinite;
}

@keyframes special-color-change {
    0% {color: #e4c9ff;}
    50% {color: #ffc9e4;}
    100% {color: #e4c9ff;}
}

@keyframes shiny-color-change {
    0% {color: #ffff80;}
    33.3% {color: #80ffff;}
    66.7% {color: #ff80ff;}
    100% {color: #ffff80;}
}

.ghost-text {
    animation: ghost-color-change 2s infinite;
}

@keyframes ghost-color-change {
    0% {color: rgba(255, 255, 255, 0);}
    50.0% {color: rgba(255, 255, 255, 0.5);}
    100% {color: rgba(255, 255, 255, 0);}
}

.popup-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 5px;
    top: 5px;
}

.popup-temp {
    min-width: 20vw;
    padding: 8px 12px 8px 12px;
    font-size: 20px;
    color: #ffffff;
    background-color: #666666;
    border: 2px solid rgba(0, 0, 0, 0.3);
    animation: 4s linear fade-in-out;
}

.offline-progress-container {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 40%;
    height: 40%;
    color: #ffffff;
    background-color: #2a032b;
    border: 2px solid rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.offline-progress-title {
    font-size: 1.7vw;
    margin: 12px;
}

.offline-progress-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1vw;
    margin-top: 8px;
}

.offline-progress-text div {
    margin-bottom: 4px;
}

.offline-progress-exit-btn {
    position: absolute;
    bottom: 10px;
    background-color: #707070;
    min-width: 50px;
    font-size: 1.1vw;
}

@keyframes fade-in-out {
    0%, 100% {opacity: 0;}
    6%, 94% {opacity: 1;}
}

.popup-achievement {
    background-color: #b5a000;
}

.popup-saving {
    background-color: #009ea1;
}

.popup-feature {
    background-color: #c46200;
}

.total-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.game-container {
    display: flex;
    flex-grow: 1;
}

.news-ticker-container {
    padding-bottom: 5px;
    border-bottom: 2px solid #f0f0f0;
    max-width: calc(100vw - 10px);
    height: 24px;
}

#news-ticker {
    padding: 4px;
    color: #f0f0f0;
    overflow-x: hidden;
    white-space: nowrap;
    font-family: "Inconsolata", "Segoe UI";
}

#ticker-message {
    position: absolute;
    display: inline-block;
}

.menu-left {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: fit-content;
    border-right: 3px solid #f0f0f0;
}

.menu-button {
    margin: 2px;
    width: max(17vw, 50px);
    height: 40px;
    font-size: max(1.39vw, 8px);
    color: rgba(255, 255, 255, 0.8);
}

.main-game-container {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    flex-grow: 1;
    color: white;
}

#submenu-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: solid;
    border-color: #888888;
    padding-top: 4px;
    padding-bottom: 4px;
}

.submenu-button {
    height: 32px;
    font-size: 18px;
    background-color: #7e0094;
}

.switchable {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bought-5 {
    animation: 0.75s linear bought-5;
}

@keyframes bought-5 {
    0% {background-color: #fff94d;}
    100% {background-color: #7e0094;}
}

.bought-5-scaled {
    animation: 0.75s linear bought-5-scaled;
}

@keyframes bought-5-scaled {
    0% {background-color: #fff94d;}
    100% {background-color: #710068;}
}

.bought-5-superscaled {
    animation: 0.75s linear bought-5-superscaled;
}

@keyframes bought-5-superscaled {
    0% {background-color: #fff94d;}
    100% {background-color: #090070;}
}

.bought-5-mul {
    animation: 0.75s linear bought-5-mul;
}

@keyframes bought-5-mul {
    0% {color: #fff94d;}
    100% {color: #eddbff;}
}

.resource-amts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: solid;
    border-color: #888888;
}

#le-amt {
    margin-top: 15px;
    margin-bottom: 6px;
    font-size: 1.81vw;
}

#le-num {
    color: #e4c9ff;
    font-size: 2.5vw;
    display: inline;
}

#leps-amt {
    font-size: 1.25vw;
}

#leps-num {
    color: #e4c9ff;
    font-size: 1.81vw;
    display: inline;
}
    
#production {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    width: 80%;
}

#lcp-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.lc-top-btns {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin: 10px;
}

.lc-top-btn {
    background-color: #5f0070;
    font-size: 16px;
}

.lc-upgrade-top-btn {
    background-color: #00706c;
    font-size: 16px;
}

.lcp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    font-size: 1.39vw;
    color: #eddbff;
}

.lcp-scaled {
    color: #ffccfb;
}

.lcp-superscaled {
    color: #ccceff;
}

.lcp-even {
    background-color: #200033;
}

.lcp-odd {
    background-color: #310033;
}

.lc-info-1 {
    display: inline-block;
    width: 32%;
}

.lc-info-mul {
    margin-top: 2px;
    font-size: 1.11vw;
}

.lc-info-2 {
    display: inline-block;
    width: 33%;
}

.lc-info-gain {
    margin-top: 2px;
    font-size: 1.11vw;
}

.lc-buy-btn {
    display: inline-block;
    position: relative;
    margin-right: 30px;
    min-width: 180px;
    height: 40px;
    background-color: #7e0094;
    color: #eddbff;
    font-size: 1.25vw;
    border-width: 2px;
    border-style: solid;
}

.lc-buy-btn-scaled {
    background-color: #710068;
}

.lc-buy-btn-superscaled {
    background-color: #090070;
    color: #e7ddff;
}

.lc-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffffff;
    opacity: 35%;
}

#lc-defect-text {
    color: #ffbad9;
    margin-top: 12px;
    font-size: 1.2vw;
}

#upgrades {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.lc-upgrades-text {
    font-size: 20px;
}

#lc-upgrades-rep-text {
    color: #c2f7ff;
    margin-top: 5px;
}

#lc-boosts-text {
    color: #ffe3c2;
    margin-top: 20px;
}

.lc-upgrade-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
}

.lc-upgrade-rep-name {
    text-align: center;
}

#lc-upgrade-rep-container {
    border-top: 2px solid #c2f7ff;
    border-bottom: 2px solid #c2f7ff;
}

#lc-boost-container {
    border-top: 2px solid #ffe3c2;
    border-bottom: 2px solid #ffe3c2;
}

.lc-upgrade {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    height: 140px;
    margin: 10px 5px 0px 5px;
}

.lc-upgrade-rep {
    border: 2px solid #005060;
    background-color: #007888;
}

.lc-upgrade-rep-0 {
    background: repeating-linear-gradient(45deg, #007888, #007888 25px, #006878 25px, #006878 50px);
}

.lc-upgrade-rep-1 {
    background: repeating-radial-gradient(circle, #007888, #007888 25px, #006878 25px, #006878 50px);
}

.lc-upgrade-rep-2 {
    background: repeating-linear-gradient(180deg, #007888, #007888 25px, #006878 25px, #006878 50px);
}

.lc-upgrade-rep-3 {
    background: repeating-radial-gradient(circle at 0% 0%, #007888, #007888 25px, #006878 25px, #006878 50px);
}

.lc-upgrade-rep-4 {
    background: repeating-linear-gradient(135deg, #007888, #007888 25px, #006878 25px, #006878 50px);
}

.lc-upgrade-rep-5 {
    background: repeating-linear-gradient(90deg, #007888, #007888 11.111%, #006878 11.111%, #006878 22.222%);
}

.lc-boost {
    border: 2px solid #613000;
    background: repeating-linear-gradient(45deg, #8a4500, #8a4500 25px, #7a4300 25px, #7a4300 50px);
}

.lc-boost-bought {
    border: 2px solid #615100;
    background: repeating-linear-gradient(45deg, #8a7300, #8a7300 25px, #806a00 25px, #806a00 50px);
}

.lc-upgrade-name {
    margin: 5px;
    font-size: 17.5px;
}

.lc-upgrade-desc {
    margin: 2px 5px 5px 5px;
    font-size: 13.5px;
    text-align: center;
}

.lc-upgrade-buy-btn {
    position: absolute;
    bottom: 8px;
    background-color: #006b6b;
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
}

.lc-upgrade-rep-buy-btn {
    background-color: #006b6b;
}

.lc-boost-buy-btn {
    background-color: #6b3600;
}

.lc-boost-buy-btn-bought {
    background-color: #6b5f00;
}

.buy-btn-unaffordable {
    color: #ffcce6;
    cursor: default;
}

.lc-buy-btn-superscaled.buy-btn-unaffordable {
    color: #f2bfff;
}

#achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#achievement-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.achievement-info-text {
    margin: 3px;
}

#achievement-boxes {
    display: grid;
    grid-template-columns: repeat(10, auto);
    gap: 10px;
    margin-top: 15px;
}

.achievement-box {
    position: relative;
    width: 21px;
    padding: 25px;
    background-color: #444444;
    text-align: center;
    font-size: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    user-select: none;
}

.achievement-box:hover {
    color: #ff2222;
}

.achievement-box-popup {
    display: none;
    pointer-events: none;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -73px);
    width: 255px;
    height: auto;
    padding-bottom: 10%;
    background-color: #666666;
    color: #ffffff;
    font-size: 18px;
    text-wrap: wrap;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.achievement-box-life {
    background-color: #2e1c38;
}

.achievement-box-completed {
    background-color: #d6a800;
    border-color: #604b00;
}

.achievement-box-popup-arrow {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: inherit;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 8px;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.achievement-box:hover .achievement-box-popup {
    display: block;
}

.achievement-name {
    font-weight: bold;
    margin: 10px;
}

.achievement-desc {
    font-size: 16px;
    line-height: 1.15;
    margin: 5px;
}

#statistics {
    margin-top: 8px;
}

.statistics-text {
    margin: 4px;
}

.options-container {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 80%;
}

.options-buttons {
    margin-top: 10px;
}

.options-button {
    vertical-align: top;
    display: inline-block;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.3);
    padding: 5px;
    min-width: 75px;
    font-size: 18px;
    background-color: #707070;
}

.new-feature {
    animation: 2s new-feature infinite;
}

@keyframes new-feature {
    0% {box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.1);}
    50% {box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.5);}
    100% {box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.1);}
}

#options-ticker-speed-container {
    width: 170px;
}

#options-hard-reset-button {
    background-color: #a00000;
}

#options-sgd-button {
    background-color: #8f006b;
}

#progress-container {
    position: relative;
    margin: 15px;
    width: 40vw;
    height: 20px;
    border: 2px solid #888888;
}

#progress-bar {
    position: relative;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 20px;
    background-color: #00899c;
    transition: 0.1s;
}

#progress-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    text-align: center;
    padding-top: 1px;
}

.dev-tools {
    position: absolute;
    color: #c0c0c0;
    right: 10px;
    top: 45px;
}