body {
    background-color: #1c0040;
    transition: 0.3s;
  }
  
.sidebar-left {
    display: flex;
    flex-direction: column;
    padding-right: 6px;
    width: fit-content;
    height: 100vh;
    border-style: none solid none none;
    border-width: 3px;
    border-color: white;
}

.sidebar-button {
    margin: 2px;
    width: min(max(20vw, 50px), 200px);
    height: 40px;
    font-size: min(max(4vw, 8px), 20px);
    font-family: "Fira Mono", monospace;
    background-color: #800080;
    color: white;
    transition: 0.3s;
}

.sidebar-button:hover {
    box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.15); /* used to lighten elements on hover */
}