html, body {
    margin: 0;
    overflow: hidden;
    user-select: none;
}

button {
    font-family: 'Cambria Math', 'Times New Roman';
}

#top-bar {
    display: flex;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
}

#function-input-container {
    display: flex;
    position: absolute;
    top: 10px;
    left: 30px;
    width: calc(100% - 60px);
    font-size: 24px;
    font-family: 'Cambria Math', 'Times New Roman';
}

#function-input {
    display: inline-flex;
    flex: 1;
    border-width: 0 0 2px 0;
    border-color: black;
    padding: 0;
    margin-left: 10px;
    background-color: transparent;
    font-size: 24px;
    font-family: 'Cambria Math', 'Times New Roman';
}

#coordinate-box {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 125px;
    width: 270px;
    height: 60px;
    font-family: 'Cambria Math', 'Times New Roman';
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.7);
}

#coordinate-settings {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 100px;
    width: 270px;
    height: 25px;
    font-family: 'Cambria Math', 'Times New Roman';
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.7);
}

label {
    margin-right: 10px;
}

#bottom-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.7);
}

#bottom-row-1, #bottom-row-2 {
    display: flex;
    height: 50px;
    margin: 0;
}

.slider-container {
    display: flex;
    align-items: center;
    margin-right: 35px;
    font-size: 18px;
    font-family: 'Cambria Math', 'Times New Roman';
}

.settings-value {
    width: 50px;
}

#lt-sens-slider {
    width: 150px;
}

#hue-shift-slider {
    width: 130px;
}

#hue-values-slider, #lt-values-slider {
    width: 130px;
}

.settings-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 35px;
    height: 75%;
    border-radius: 0;
    font-size: 16px;
}

#center-button {
    background-color: #ddddff;
}

#compile-button, #info-button, #hide-bar-button {
    font-size: 16px;
    border-radius: 0;
    text-align: center;
    padding: 0;
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

#hide-bar-button {
    font-size: 14px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: gray;
}

#close-info-button {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 0;
    width: 25px;
    height: 25px;
}

#compile-button {
    background-color: #ddddff;
}

p {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 0px;
}

#info-popup {
    font-family: 'Cambria Math', 'Times New Roman';
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 16px;
    width: 40%;
    height: 50%;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: auto;
}