html, body {
    margin: 0;
    overflow: hidden;
    user-select: none;
}

#top-bar {
    display: flex;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
}

#function-input-container {
    display: flex;
    position: absolute;
    top: 10px;
    left: 30px;
    width: calc(100% - 60px);
    font-size: 24px;
    font-family: 'Latin Modern Math', 'Times New Roman';
}

#function-input {
    display: inline-flex;
    flex: 1;
    border-width: 0 0 2px 0;
    border-color: black;
    padding: 0;
    margin-left: 10px;
    background-color: transparent;
    font-size: 24px;
    font-family: 'Latin Modern Math', 'Times New Roman';
}

#bottom-bar {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
}

.slider-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 35px;
    font-size: 18px;
    font-family: 'Latin Modern Math', 'Times New Roman';
}

#lt-sens-value, #hue-shift-value, #hue-values-value, #lt-values-value {
    width: 50px;
}

#lt-sens-slider {
    width: 150px;
}

#hue-shift-slider, #hue-values-slider, #lt-values-slider {
    width: 130px;
}

#logmode-button {
    display: flex;
    align-items: center;
    width: 180px;
    margin-right: 35px;
    height: 75%;
    padding-left: 12px;
    font-family: 'Latin Modern Math', 'Times New Roman';
    border-radius: 0;
    font-size: 16px;
}